@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	font-family: 'Merriweather,serif';
	font-size: 20px;
	color:  #fdcf58;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Merriweather,serif';
}
h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
}
h1{font-size:38px ;}
h2{font-size:32px ;}
h3{font-size:28px ;}
h4{font-size:24px ;}
h5{font-size:20px ;}
h6{font-size:18px ;}

a,
a:link,
a:visited{
	color:  #ACFF50;
	text-decoration: none;
}
a:hover{
	color: #1374FF;
}
a:active{
	color: #fff;
}
img{
	vertical-align: bottom;
}
.negative{
	color: #fff;
}
.negative h1,
.negative h2,
.negative h3,
.negative h4,
.negative h5,
.negative h6{
	color: #fdcf58;
}

.wapper{
	width:1200px;
	margin:0 auto;
}
#header{
	background: #800909;
	color: #fdcf58;
	padding:25px 0;
}
#header>.wapper{
	display: flex;
	justify-content: center;
	align-items: center;
}
#logo-zar img{
	width:200px;
	margin: 20px;
	
}
#nav{
	background: #757676;
	font-family: 'Merriweather,serif';
	font-weight: 900;
}
#nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;	
}
#nav ul li a{
	display: block;
	padding: 10px;
	height: 20px;
	line-height: 20px;
}
#nav ul li a:link,
#nav ul li a:visited{
	color: #51417;
	text-decoration: none;
}
#nav ul li a:hover{
	background: rgba(100,24,25,0.50);
	color: #fff;
}#nav ul li a:active{
	background: rgba(100,24,25,0.8);
	
}
#nav ul li a.current{
	background: rgba(100,24,25,0.50);
	
}
#hero{
	background-image:url(../slike/nivo2a.jpg);
	background-position: center center;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 220px;
	font-size: 28px;
	display:flex;
}
#footer{
	margin:30px 0 0;
	background:#800909;
	text-align: center;
	display: flex;
}
#opseg{
	background: #757676;
	padding: 10px;
	margin: 0 auto;
	width: 1200px;
}
@media screen and (min-width:1024px) and (max-width: 1280px){
     #opseg{
		width: 960px;
	}
	#hero > h1 h2 h3 p {
		display: flex;
		margin: 10px;
		text-align: center;
	}
		#header{
			display: flex;
		justify-content: center;
	    align-items: center;
}

}
@media screen and (min-width:768px) and (max-width: 1023px){
	#opseg{
		width: 700px;
	}	
		#hero > h1 h2 h3 p {
		display:inline-block;
		margin: 10px;
		text-align: center;
	}
		#header{
		display: flex;
		justify-content: center;
	    align-items: center;
}
}
@media  screen and (min-width:300px) and (max-width: 767px){
	#opseg{
		width: 350px;
	}
			#header{
		display: flex;
		justify-content: center;
	    align-items: center;
}
	h1, h2, h3,h4,h5,h6{
		margin:0;
		font-size: 18px;
	}
	
	#hero{
		margin:5;
		padding:10px;
		font-size: 16px;
		
		
	}
	#hero>p{
		margin:5px;
	}
		#header{
		display: flex;
		justify-content: center;
	    align-items: center;
}
	#logo-zar img{
	width:80%;
	margin: 5px;
	
}
}
	@media screen and  (max-width: 767px){
		#opseg{
			flex-direction: column;	
		width:100%;
		
		}
		#header>wapper{
		flex-direction: column;
			align-items: stretch;
        }
		#logo-zar{
			padding:5px;
			text-align: center;
		}
		.negative{
			display: flex;
			width:auto;
			margin:5;
		padding:10px;
		font-size: 16px;
			
		}
		
		#hero{
		margin:5;
		padding:10px;
		font-size: 16px;	
		
	}
		h1, h2, h3,h4,h5,h6{	
		margin:20px 0;
		padding:10px;
		font-size: 14px;
	}
		p{
		flex-basis: auto;
		margin:0px;
		padding:10px;
		font-size: 10px;
	}
		#kontakt-map{
			flex-direction: column;	
		}
}